<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>count</key>
	<string>10000字</string>
	<key>title</key>
	<string>《三字经》</string>
	<key>imageUrl</key>
	<string>https://image.baidu.com/search/detail?ct=503316480&amp;z=undefined&amp;tn=baiduimagedetail&amp;ipn=d&amp;word=三字经&amp;step_word=&amp;ie=utf-8&amp;in=&amp;cl=2&amp;lm=-1&amp;st=undefined&amp;hd=undefined&amp;latest=undefined&amp;copyright=undefined&amp;cs=2628468406,2748000326&amp;os=341755662,3249271384&amp;simid=4051534537,577428924&amp;pn=1&amp;rn=1&amp;di=25520&amp;ln=1534&amp;fr=&amp;fmq=1601369987206_R&amp;fm=&amp;ic=undefined&amp;s=undefined&amp;se=&amp;sme=&amp;tab=0&amp;width=undefined&amp;height=undefined&amp;face=undefined&amp;is=0,0&amp;istype=0&amp;ist=&amp;jit=&amp;bdtype=0&amp;spn=0&amp;pi=0&amp;gsm=0&amp;objurl=http%3A%2F%2Fpeixun.transfu.com%2Fuploads%2Fallimg%2F180115%2F16463C256-0.png&amp;rpstart=0&amp;rpnum=0&amp;adpicid=0&amp;force=undefined</string>
	<key>desc</key>
	<string>人之初，性本善。性相近，习相远。 昔孟母，择邻处。子不学，断机杼。 
窦燕山，有义方。教五子，名俱扬。
苟不教，性乃迁。教之道，贵以专</string>
	<key>allTitie</key>
	<string>小学一年级上册语文---教师Tom</string>
</dict>
</plist>
